body{
    margin: 0;
    padding: 0;
    font: 20px sans-serif;
    max-width: 1920px;
    min-width: 100%;
    background-image:url("assets/image 40.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.game-card{
    display:  flex;
    padding: 20px;

}

.p-card{
    display: inline;
    gap: 20px;
}
