body{
    margin: 0;
    padding: 0;
    font: 20px sans-serif;
    max-width: 1920px;
    min-width: 100%;
    background-image:url("assets/image 40.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    

}   

.tovar{
    display: flex;
}

.title-tovaru{
    font-size: 30px;
}

.big-foto-tovaru{
    width: 500px;
    height: 500px;

}

.button-tovaru{
    height: 50px;
    width: 50px;
}



